.audio-book-container {
  max-width: 700px;
  margin: 28px auto;
  padding: 24px;
  /* background-color: white; */
  border-radius: 12px;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
  text-align: center;
  margin-right: 29%;
}

.audio-book-title {
  font-size: 48px;
  color: #fff; /* Navy Blue */
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
}



.button-group {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: nowrap;
}

.btn {
  padding: 10px 16px;
  font-size: 15px;
  border: none;
  /* border-radius: 8px; */
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background-color 0.3s ease;
  letter-spacing: normal;
}

.try-btn {
  background: linear-gradient(135deg, #ffffff, #007bff, #8a2be2); 
  color: #fff;
  width: 40%;
  text-align: center;
  justify-content: center;
    text-transform: uppercase;
  
/* border-radius: 2rem; */

}

.try-btn:hover {
  background-color: #f5cc00;
}

.watch-btn {
  width: 40%;
    background-color: #000;
    color: #fff;
    text-align: center;
    justify-content: center;
      text-transform: uppercase;
    /* border: 1px solid white; */
    
}

.watch-btn:hover {
  background-color: #000;
}

.icon,
.btn-icon,
.status-icon {
  font-size: 18px;
}